/*general*/
*{
	box-sizing: border-box;
}
body{
	font-family: "Comic Sans", Comic Sans MS, cursive;
	background: url("../images/backgroundImage.jpg");
	background-size: 100%;
	color: black;
}

.container{
	width: 600px;
	margin: 0 auto;
	clear: both;
}

h1, h2, h3, p{
	margin-bottom: 10px;
}

ol{
	padding-left: 15px;
}

ol li{
	text-align: left;
	font-size: 15px;
	margin-bottom: 10px;
}
/*header*/
#mastHead{
	background: #CCFFCC;
	text-align: center;
	margin: 10px auto;
	padding-top: 10px;
	width: 600px;
	height: 75px;
}
#mastHead h1{
	font-size: 50px;
}


/*footer*/
footer{
	font-family: "Times New Roman", times, serif;
	padding: 30px 0;
	clear: both;
	font-size: 12px;
	text-align: center;
	color: white;
}

/*main*/
#mainContainer {
	margin: 0 auto;
	width: 600px;
	text-align: center;
}
.mainSection {
	margin-left: 10px;
	padding: 20px 40px;
	width: 235px;
	float: left;
	height: 520px;
	background: #CCFFCC;
}

/*sidebar*/
.sidebar {
	font-size: 20px;
	height: 520px;
	width: 350px;
	float: right;
	letter-spacing: 2px;
}
#box1{
	float: left;
	margin: 0px 10px 5px 10px;
	background: #CCFFCC;
	width: 150px;
	height: 150px;
}
#randomNumber{
	margin-top: 20px;
	font-size: 50px;
}
#playerScore{
	margin-top: 20px;
	font-size: 50px;
}
#box2{
	float: right;
	margin: 0px 10px 5px 10px;
	background: #CCFFCC;
	width: 150px;
	height: 150px;
}
.gems{
	clear: both;
}	
.gems img{
	margin: 5px 5px;
	height: 120px;
	width: 140px;
	background: white;
}
#totalBox{
	margin: 0 auto;
	padding: 20px 20px;
	width: 150px;
	background: #CCFFCC;
	height: 100px;
}


